body {
    background-color: rgb(233, 86, 86);
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h1 {

    color: rgb(255, 255, 255)
}

table {
    border-collapse: collapse;
}