body {
    background-color: rgb(68, 187, 74);
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h1 {

    color: rgb(6, 88, 38)
}

table {
    border-collapse: collapse;
}