body {
    background-color: rgb(219, 165, 64);
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h1 {

    color: rgb(190, 100, 16)
}

table {
    border-collapse: collapse;
}